# Include example configuration file
include config.json.dist

# Include pytest configuration file
include pytest.ini

# Include documentation
graft docs
global-exclude *.py[cod]
prune docs/_build
prune docs/venv

# Include tests
graft tests
global-exclude *.py[cod]
