pytest==8.3.3
black==24.8.0

mysql-connector-python==8.4.0
numpy==2.1.0
python-slugify==8.0.4
pytz==2024.2

Sphinx==8.0.2
sphinx-autobuild==2024.9.19
sphinx-autodoc-typehints==2.4.4
sphinx-copybutton==0.5.2
sphinx-toolbox==3.8.0
Pallets-Sphinx-Themes==2.1.3
