pytest==9.0.2

mysql-connector-python==9.5.0
numpy==2.4.1
python-slugify==8.0.4
pytz==2025.2

Sphinx==9.1.0
sphinx-autobuild==2025.8.25
sphinx-autodoc-typehints==3.6.2
sphinx-copybutton==0.5.2
sphinx-toolbox==4.1.2
sphinxext-opengraph==0.13.0
furo==2025.12.19
matplotlib==3.10.8
